Load the libaries & Data

In [16]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SequentialFeatureSelector
np.set_printoptions(suppress=True)

all_data=pd.read_csv('opp.csv')
all_data.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [17]:
all_data=all_data.dropna()
all_data['hdlngth_2']=all_data['hdlngth']**2
all_data['skullw_2']=all_data['skullw']**2
all_data['totlngth_2']=all_data['totlngth']**2
all_data['taill_2']=all_data['taill']**2
all_data['footlgth_2']=all_data['footlgth']**2
all_data['earconch_2']=all_data['earconch']**2
all_data['eye_2']=all_data['eye']**2
all_data['chest_2']=all_data['chest']**2
all_data['belly_2']=all_data['belly']**2

all_data['sex_m']=np.where(all_data['sex']=='m',1,0)
all_data['Pop_Vic']=np.where(all_data['Pop']=='Vic',1,0)
all_data['site_1']=np.where(all_data['site']==1,1,0)
all_data['site_2']=np.where(all_data['site']==2,1,0)
all_data['site_3']=np.where(all_data['site']==3,1,0)
all_data['site_4']=np.where(all_data['site']==4,1,0)
all_data['site_5']=np.where(all_data['site']==5,1,0)
all_data['site_6']=np.where(all_data['site']==6,1,0)
all_data['site_7']=np.where(all_data['site']==7,1,0)

all_data=all_data.drop(['case','site','Pop','sex'],axis=1)
all_data.head()

,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly,...,belly_2,sex_m,Pop_Vic,site_1,site_2,site_3,site_4,site_5,site_6,site_7
0,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0,...,1296.0,1,1,1,0,0,0,0,0,0
1,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0,...,1089.0,0,1,1,0,0,0,0,0,0
2,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0,...,1156.0,0,1,1,0,0,0,0,0,0
3,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0,...,1156.0,0,1,1,0,0,0,0,0,0
4,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0,...,1089.0,0,1,1,0,0,0,0,0,0

In [18]:
Y=all_data['age']
X=all_data.drop(['age'],axis=1)
model=LinearRegression()
sfs=SequentialFeatureSelector(model,direction='backward')
sfs.fit(X,Y)
sfs.get_feature_names_out()

array(['hdlngth', 'footlgth', 'earconch', 'chest', 'hdlngth_2',
       'footlgth_2', 'eye_2', 'chest_2', 'Pop_Vic', 'site_1', 'site_2',
       'site_4', 'site_5'], dtype=object)

In [19]:
X_vals=sfs.transform(X)
print(X_vals)

[[94.1 74.5 54.5 ...  0.   0.   0. ]
 [92.5 72.5 51.2 ...  0.   0.   0. ]
 [94.  75.4 51.9 ...  0.   0.   0. ]
 ...
 [92.4 63.5 45.4 ...  0.   0.   0. ]
 [91.5 62.9 45.9 ...  0.   0.   0. ]
 [93.6 67.6 46.  ...  0.   0.   0. ]]